@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}
.active {
  color: #FE9226;
}
.p {
  color: #FE9226;
}
.header  {
  display: flex;
  justify-content: center;
  padding: 140px 100px 0px 80px;
}
.header-text {
  width: 150%;
}
.header-text h1 {
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2F2F32;
}
.header-text p  {
  width: 130%;
  color: #2F2F32;
  margin-bottom: 20px;
}
.header-text button {
  background-color: #FE9226;
  padding: 10px 9px 10px 9px;
  font-size: 11px;
  border-radius: 5px;
  color: white;
}
.header-img {
  margin-right: 10px;
}
.header-img img {
  width: 95%;
}
.header-subtext {
  width: 100%;
}
.header-subtext img{
  width: 40%;
  margin-bottom: 10px;
}
.header-subtext h2 {
  font-size: 20px;
  font-weight: 500;
}
.header-subtext h4 {
  font-size: 16px;
  color: rgb(44, 44, 44);
  margin-bottom: 30px;
}
.header-subtext p {
  font-size: 25px;
  font-weight: 500;
}
.header-subtext .five {
  font-size: 12px;
}
.header-subtext .star {
  display: flex;
  margin-bottom: 20px;
}
.header-subtext .star img  {
  width: 47%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.header-subtext .star span {
  font-size: 12px;
  color: grey;
  margin-bottom: 12px;
  margin-left: 2px;
}
.header-subtext h3 {
  font-weight: 500;
}
.header-subtext .ggle img {
  width: 50%;
}
.join {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #FF9227; */
  background-image: url('/Images/Frame 630458.png');
  background-position: center;
  background-size: cover;
  padding: 5px 100px;
  color: white;
}
.join .join1 {
  margin-right: 10px;
}
.join h2 {
  font-size: 32px;
  font-weight: 500;
  margin-right: 10px;
  font-family: sans-serif;
}
.join-im {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-im img {
  width: 1%;
  margin-left: 130px;
  height: 17vh;
}
.join-im-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
}
.join-im-text p {
  width: 100%;
}
.details {
  display: flex;
  padding: 100px 90px 50px 90px;
}
.details-text-1 {
  width: 90%;
}
.details-text-1 h2 {
  font-size: 35px;
  width: 70%;
  font-weight: bold;
  color: #2F2F32;
}
.details-text-1 .ii {
  width: 30%;
  margin-bottom: 20px;
}
.details-text1 {
  display: flex;
}
.details-text {
  width: 140%;
}
#t1  {
  margin-right: 50px;
}
.details-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: #2F2F32;

}
.details-text h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.details-text p {
  font-size: 14px;
  margin-bottom: 40px;
  color: rgb(124, 124, 124);
}
.ggles  {
  display: flex;
  width: 20%;
}
.details-text2 {
  display: flex;
}
.ideas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 47px 70px 47px;
  background-color: #F3F3F3;
  margin-bottom: 90px;
}
.ideas-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  width: 90%;
}
.ideas-text h2 {
  font-size: 30px;
  width: 30%;
  font-weight: bold;
  margin-right: 0px;
  color:  #2F2F32;
}
.ideas-text p {
  width: 45%;
  color: #505054;
  font-size: 13px;
}
.ideas-subtext {
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.ideas-sub {
  padding: 20px;
  margin-right: 10px;
  width: 18%;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.ideas-sub img {
  width: 19%;
}
.transfer {
  display: flex;
  margin-top: 20px;
}
.transfer h2 {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 600;
}
.ideas-sub p {
  width: 120%;
  padding-right: 54px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}
#sub-t {
  background-color: white;
}
#sub-t:hover {
  background-color: #2E2E2E;
}
.transfer img {
  width: 1.5%;
  height: 4vh;
}
.ideas-sub:hover {
  background-color: #2E2E2E;
  cursor: pointer;
  color: white;
}
.services {
  background-color: #FE9226;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}
.services h2 {
  font-size: 28px;
  font-weight: 500;
  color:  white;
}
.services img {
  width: 7%;
}
.services-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.services-text h2 {
  color: white;
  margin-bottom: 20px;
}
.services-text img {
  width: 20%;
  transition: all 1s ease;

}
.services-text img:hover {
  transform: scale(1.1);
}
#ss {
  margin-left: 0px;
}
.service-subtext {
  color: white;
  width: 35%;
  margin-left: 80px;
  background-image: url('/Images/Group 12.png');
  background-position: center;
  background-size: 55%;
  backdrop-filter: blur(50px);
  background-repeat: no-repeat;
}
.service-subtext h3 {
  font-size: 20px;
  width: 70%;
  font-weight: bold;
  margin-bottom: 20px;
}
.service-subtext p  {
  font-size: 14px;
  width: 90%;
  margin-bottom: 20px;
}
.service-subtext button {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  width: 21%;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  padding: 9px 3px 9px 9px;
  font-weight: 500;
}
.service-subtext button a {
  display: flex;
}
.services .rec {
  width: 60%;
}
.service-subtext button img {
  width: 20%;
  margin-left: 5px;
}
.end-end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 90px 70px 200px;
}
.end-end img{
  width: 32%;
  margin-right: 150px;
}
.end-end-text {
  width: 50%;
}
.end-end-text h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2F2F32;
}
.end-end-text p {
  font-size: 14px;
  width: 90%;
  margin-bottom: 20px;
  color: grey;
}
.end-end-text li {
  margin-bottom: 10px;
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}
.end-end-text img {
  margin-right: 5px;
  width: 4%;
}
.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 120px 50px 120px;
  position: relative;
}
.customers h2 {
  font-size: 30px;
  font-weight: bold;
  color:  #2F2F32;
  margin-bottom: 40px;
}
.customer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.customer-text img {
  width: 30%;
  height: 57vh;
  object-fit: cover;
}
.customer-subtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column  ;
  background-color: #2475FB;
  color: white;
  width: 40%;
}
.customer-subtext p {
  padding: 110px 30px 110px 30px;
  width: 100%;
  font-size: 16px;
}
.customers .debs {
  right: 46%;
  top: 70%;
  position: absolute;
  color: white;
  font-weight: 500;
  text-align: center;
}
.swiper {
  width: 100%;
  height: 100%;
} 
.eeh {
  width: 50%;
}
.agent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3EEFE;
  padding: 0px 0px 0px 0px;
}
.agent h2 {
  font-size: 40px;
  font-weight: 500;
  color: #2F2F32;
  width: 80%;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.agent p {
  color: rgb(15, 15, 15);
  font-size: 15px;
  width: 90%;
  margin-bottom: 30px;
}
.agent button {
  display: flex;
  justify-content: flex-start;
  background-color: #FF9227;
  padding: 10px 1px 10px 30px;
  border-radius: 25px;
  width: 47%;
  color: white;
  margin-bottom: 20px;
  border: none;
}
.agent button img {
  width: 9%;
  margin-right: 10px;
}
.agent img {
  width: 33%;
  background-image: url("../public/Images/Group 11.png");
  background-position: left;
  background-size: 25vw;
  background-repeat: no-repeat;
}
.contact {
  display: grid;
  grid-template-columns: 30% 25% 27% 20%;
  padding: 20px 50px 50px 40px;
  background-color: white;
}
.xtreme-contact img{
  width: 35%;
  margin-bottom: 10px;
}
.xtreme-contact p {
  font-size: 15px;
  line-height: 25px;
  width: 80%;
  margin-left: 10px;
  color: #717177;
}
.page-links {
  margin-left: 30px;
}
.page-links h2 {
  margin-bottom: 20px;
  font-size: 23px;
}
.page-links ul {
  display: block;
}
.page-links ul li {
  margin-bottom: 10px;
  font-size: 16px;
}
.location img{
  margin-top: 20px;
  width: 100%;
}
.location h2 {
  font-size: 23px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.social-links img {
  width: 13%;
}
.c-p {
  text-align: center;
  padding: 20px 50px 50px 40px;
  font-size: 14px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0E0E0E;
  color: white;
}
.m-header {
  display: flex;
  /* justify-content: space-between; */
  padding: 120px 90px 80px 90px;
  align-items: center;
}
.moola-header {
  width: 60%;
}
.moola-header h1 {
  font-size: 40px;
  font-weight: 700;
  color: #FE9226;
  margin-bottom: 5px;
}
.moola-header h2 {
  font-size: 37px;
  font-weight: 700;
  color: #2F2F32;
}
.moola-header h3 {
  font-size: 35px;
}
.moola-header p {
  margin-top: 20px;
  color: #717177;
  width: 50%;
  font-size: 14px;

}
.m-header img {
  background-image: url('/public/Images/Ellipse 77.png');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 95%;
  width: 35%;
}
.moola-features {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moola-features h2 {
  font-size: 25px;
  font-weight: 600;
  color: #2F2F32;
  margin-bottom: 5px;
}
.moola-features-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 80px 80px 80px;
}
.moola-features-header img {
  width: 20%;
  margin-top: 5px;
}
.moola-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-left: 8em;
  margin-bottom: 70px;
  margin-right: 7em;
  background-color: #FE9226;
  padding-left: 70px;
  width: 80%;
}
.moola-signup img {
  width: 30%;
}
.moola-signup-text  {
  margin-left: 120px;
}
.moola-signup-text h2 {
  font-size: 35px;
  font-weight: 600;
  color: #2F2F32;
  width: 60%; 
}
.moola-signup p {
  color: white;
  margin-top: 20px;
  font-weight: normal;
  font-size: 13px;
}

.rec {
  width: 85%;
  margin: 0px 80px 0px 80px;
}
.contact-support {
  margin-top: 70px;
}

.contact-support h1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #1E1C1C;
  text-align: center;
}
.contact-support p {
  text-align: center;
  font-size: 20px;
  color: #2F2F32;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;

  margin-bottom: 100px;
}
.contact-form img {
  width: 29%;
}
.contact-form form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 120px;
}
.contact-form label {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 100px 100px 100px;
  background-image: url('/public/Images/contact.png');
  background-position: center;
  background-size: cover;
}
.contact-header h1 {
  color: white;
  font-size: 35px;
  font-weight: 700;
}
.contacts-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.contacts-links ul  {
  display: flex;
}
.contacts-links ul li {
  margin-right: 70px;
}
.contacts-links ul li a {
  font-size: 20px;
  color: #717177;
}
.contacts-links .m-link {
  background-color: #F1F1F1;
  color: black;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}
.contact-form input {
  border: 1px solid #d7d7da;
  margin-bottom: 15px;
  padding: 7px 7px 7px 15px;
  font-size: 19px;
  border-radius: 5px;
  width: 130%;
  outline: none;
}
.contact-form .msg {
  padding-bottom: 50px;
}
.labels form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE9226;
  color: white;
  font-size: 14px;
  padding: 17px 30px 17px 30px;
  border-radius: 40px;
  width: 130%;
}
.passabi-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 100px 100px 100px;
  background-image: url('/public/Images/Retailer 1.png');
  background-position: top center;
  background-size: cover;
}
.faq-header  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 100px 100px 100px;
  background-image: url('/public/Images/sme.png');
  background-position: top center;
  background-size: cover;
}
.faq-header h1 {
  color: white;
  font-size: 35px;
  font-weight: 700;
}
.passabi-header h1 {
  color: white;
  font-size: 35px;
  font-weight: 700;
}
.passabi-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 
.passabi-text h1  {
  text-align: center;
  width: 50%;
  color: #2F2F32;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 25px;
}
.passabi-text p {
  text-align: center;
  margin-bottom: 30px;
  width: 70%;
  font-size: 15px;
  color: #717177;
  line-height: 20px;
}
#pass-get {
  margin-top: 40px;
  background-color: #F1F1F1;
}
#pass-p {
  margin-top: 20px;
  width: 80%;
  font-size: 14px;
  color: #717177;
}
.pass-features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.pass-features h1 {
  font-size: 30px;
  font-weight: 500;
  color: #2F2F32;
  margin-bottom: 30px;
}
.pass-feat-val {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.pass-feat-val img {
  width: 22%;
  /* background-image: url('/public/Images/Group 10.png');
  background-position: center;
  background-size: cover; */
  transition: all 1s ease;
}
.pass-feat-val img:hover {
  transform: scale(1.1);
}
.pass-feat-val1 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.pass-feat1 {
  display: flex;
  margin-left: 70px;
  margin-bottom: 15px;
}
.pass-feat1 img {
  margin-top: 3px;
  margin-right: 10px;
  width: 6%;
  height: 4vh;
}
.pass-feat1 h2 {
  font-size: 16px;
  font-weight: 600;
}
.pass-feat1 p {
  margin-top: 5px;
  color: #717177;
  font-size: 13px;
  width: 90%;
  margin-bottom: 20px;
}
.pass-feat-val .pass-i {
  width: 17%;
}
.moola-signup-text .m-p {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 50%;
  font-size: 13px;
}
.playstore {
  display: flex;
}
.playstore img { 
  width: 20%;
  margin-right: 15px;
}
.faq-passabi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.faq-passabi-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-passabi-header img {
  width: 10%;
  margin-right: 10px;
}
.faq-passabi-header h1 {
  font-size: 20px;
  font-weight: 700;
  color: #2F2F32;
}
.accordion {
  margin: auto;
}
.accordion__panel {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.accordion__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.accordion__button img {
  width: 6%;
  cursor: pointer;
}
.accordion__button h1 {
  font-size: 18px;
  font-weight: 500;
  padding-right: 70px;
  margin-top: 20;
}
.faq-pass-text p {
  margin-bottom: 20px;
}
.faq-pass-text img {
  width: 4%;
  cursor: pointer;
}
.faq1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 15px;
}
.faq1 img {
  width: 3%;
}
.faq-convince {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faq-convince h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #2F2F32;
}
.faq-convince p {
  width: 35%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 17px;
  color: #505054;
}
.faq-convince button {
  background-color: #FE9226;
  padding: 5px 10px 5px 10px;
  width: 15%;
  margin-bottom: 60px;
  border-radius: 30px;
  color: white;
}

