@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Jockey One", sans-serif;
  background-color: #1E1E1E;
}
.header  {
  background-image: url("/Images/Group 1.png");
  background-position: bottom right;
  background-size: auto 85%;
  background-repeat: no-repeat;
}
.music {
  background-image: url("/Images/music.jpg");
  background-position: center center;
  background-size: auto 270%;
  background-repeat: no-repeat;
}
.p1 {
  background-image: url("/Images/p1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}
.p3 {
  background-image: url("/Images/p3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}
.p2 {
  background-image: url("/Images/p2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}
.sg {
  background-image: url("/Images/sg.jpg");
  background-position: center;
  background-size: auto 150vw;
  background-repeat: no-repeat;
  filter: brightness(90%);
}
.pools {
  background-image: url("/Images/pool.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.charts {
  background-image: url("/Images/charts.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.trade {
  background-image: url("/Images/s22.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(90%);
}
.collab {
  position: relative;
}
.collab::before {
  background-image: url("/Images/collab.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}
.collab h1, p {
  isolation: isolate;
}
.p1 {
  background-image: url("/Images/c1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p2 {
  background-image: url("/Images/c2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p3 {
  background-image: url("/Images/c3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.p4 {
  background-image: url("/Images/c4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.carousel button {
  padding: 10px;
  cursor: pointer;
}

.carousel button:hover {
  background-color: #eee;
}